.ordenservi{
    
    padding: 100px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
 
   
}

.ordenservi div{
    color: rgb(165, 224, 241);
    background-color: rgba(126, 169, 250, 0.842);
    flex: 33.3%;
    margin: 20px auto;
    box-shadow: 0 0 0 3px rgb(205, 225, 241), 0 15px 15px;
}
.ordenservi  h1{
    color: white;
}


.ordenservi img{
    padding:0 ;
    width: 210px;
    height: 150px;
  
}
.ordenservi p{
    color: white;
    margin-left: 1em;
    text-align: left;
}
